.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    grid-gap: 30px;
  }
  .gridItem > img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .gridItem:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
  }
  .gridItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .removeBtn{
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
  }
  
  .viewDetailsBtn{
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
  }