.item {
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid black;
  }
  .image {
    width: 30%;
    aspect-ratio: auto;
    margin: 0 auto;
  }
  .item * {
    line-height: 30px;
  }
  
  .addToCartBtn{
    background-color: black;
    color: white;
    font-size: larger;
    padding: 10px;
  }
  