.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
    background-color:teal;
  }
  .navbar * {
    text-decoration: none;
    color: white;
    font-size: 22px;
  }
  .image {
    width: 100%;
  }
  .imageContainer {
    width: 80%;
    margin: auto;
  }